*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}

.navbar{
	position: fixed;
	right: 0px;
	width: 200px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #330000;
	transform: translatex(200px);
	transition: all .5s;
	z-index: 10;
}

.navbar.open{
	transform: translateX(0);
}

.menu{
	position: fixed;
	bottom: 100px;
	right: -2px;
	z-index: 5;
}

.menubutton{
	width: 130px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ffffff;
}

.menubutton:hover{
	background-color: #ffe6e6;
}

.closemenu{
	justify-content: left;
}

.closebutton{
	background-color: transparent;
	color:#ffffff;
	border: none;
}

.nav-links li{
	list-style: none;
	margin-top: 30px;
	margin-bottom: 30px;
}

.nav-links a{
	color: #262626;
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
}


.aa {
	font-size: 60px;
}

#projects, #home, #contact, #about {
	font-size: 32px;
}

body{
	  background: url() center center / cover no-repeat fixed;
	  color: white;
}

.test {
	padding-top:100px;
}

.jumbotron {
  position: relative;
  overflow: hidden;
  background-color:black;
  width:100vw;
  height:100vh;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  object-fit: cover;
  opacity:0.5;
}

.jumbotron .container {
  z-index: 2;
  position: relative;
  padding-top: 150px;
}

.aboutP{
	text-align: justify;
	text-justify: inter-ideograph;
}

.modal-title, .modal-body, .modal-footer{
	color: black;
}

.myimage{
	height: 300px;
	width: 300px;
}

.footer {
	width: 100%;
	background: #1a0000;
	text-align: center;
	margin:0;
}

.audio_wrap{
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 5;
}

.audio{
	display: none;
}

#play, #stop {
  background: transparent;
  text-align: center;
  cursor: pointer;
  border: none;
  color: #ffffff;
  font-weight: bold;
}



